body{
	background-image: url('../images/bg.jpg');
	background-size: 100% auto;
	background-repeat: repeat-y;
	min-height: 600px;
}
header{

}

input[type=radio]{
  transform:scale(1.5);
}

p,h1,h2,h3,h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #f3f3f3;
}
p {
	font-size: 15px;
	font-weight: lighter;
	line-height: 20px;
}
a{
	color: #198440;
	font-size: 180%;
}
.icon-bar {
    width: 90px; /* Set a specific width */
    background-color: #198440; /* Dark-grey background */
}
header img{
	width: 100%;
	margin: 1em;
}
.nav.navbar-nav.navbar-right{
	padding-top: 15px;
}
.nav.navbar-right > li > a:hover, .nav.navbar-right > li > a:focus{
    background-color: transparent;
    color:  #198440;
    font-weight: bold;
}
.navbar-nav>li>a {
    padding-top: 2em;
}

.logo{
	width: 100%;
	float: left;
}

#btn-thuthach{
	border-radius: 0px;
	background-color: #198440;
	color: #fff;
	font-size: 30px;
	padding: 15px 20px 10px 20px;
}

#timkiem{
	background-color: #198440;
	color: #fff;
	padding: 15px;
	margin-top: 25px;
}

#txtBorder{
	background-color: #198440;
	color: #fff;
	font-size: 20px;
	margin-bottom: 50px;
}
#quoteL{
	width: 8%;
	height: 8%;
	/*margin: 20px 0px 10px 40px;*/
	margin-left: 3%;
}
#quoteR{
	width: 8%;
	height: 8%;
	/*margin: 0px 100px 20px 0px;*/
	margin-right: 4%;
}
#hour{
	color: #198440;
	font-size: 50px;
}
/*Hieu ung mouse hover*/
.cool-link {
    display: inline-block;
    color: #198440;
    font-size: 20px;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #198440;
    transition: width .3s;
}
.cool-link:hover::after {
    width: 100%;
}

